* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    font-family: 'Sora', sans-serif;
}

.resume-card {
    width: 80%; 
    max-width: 1000px; 
    height: auto;
    background: white;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    padding: 30px; 
    border-radius: 10px;
    display: flex;
    margin: 20px auto; 
}

.left-column, .right-column {
    flex: 1;
    padding: 30px;
}

.personal-info, .education {
    margin-bottom: 20px;
}

#profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.skill {
    margin-bottom: 20px;
}

.skill-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.language {
    margin-bottom: 20px; 
}

.language-name {
    margin-bottom: 10px; 
}

.progress-bar {
    height: 16px;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.progress-bar-inner {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    margin-right: 20px;
}

.tablink {
    background-color: lightblue; 
    border: none;
    outline: none; 
    cursor: pointer; 
    transition: background-color 0.2s ease;
    padding: 10px 20px;
    font-size: 16px; 
    border-radius: 5px;
}

.tablink:active, .tablink.active {
    background-color: rgb(133, 224, 133); 
}

.tabs {
    margin-bottom: 40px;
    margin-left: 100px; 
}

h1 {
    font-family: 'Cinzel Decorative', serif;
}
